<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Swaggity Rabbity</title>
    <organization>UPC</organization>
    <save_game>save_game.xml</save_game>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="640" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <scene>
    <maps name="Map_1.tmx"/>
    <maps name="Map_2.tmx"/>
  </scene>
  
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

</config>